*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
main{
    width: 100%;
    height: 100%;
    background-color:#DBDBD2;
}
.header{
    width: 100%;
    height: 130px;
    background-color: #009688;
}
.container{
    margin: auto;
    width: 80%;
    height: 875px;
    display: flex;
    position: fixed;
    top: 25px;
    left: 185px;
}
.col {
    width: 35%;
    height: 100%;
}
.col_2{
    width: calc(100% - 35%);
    height: 100%;
}
.profile{
    width: 100%;
    height: 68px;
    background-color: #E9EBEB;
    border: 1px solid rgb(202, 200, 200);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info_profile {
    width: 165px;
    display: flex;
    align-items: center;
}
.icons_profile {
    display: flex;
    align-items: center;
    width: 130px;
    height: 60px;
    color: #a7a7a6;
    justify-content: end;
}
.icons_profile > i{
    margin: 0 8px;
    font-size: 22px;

}
.photo_profile {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-image: url(../img/avatar_io.jpg);
    background-size: cover;
}

.notifications{
    width: 100%;
    height: 75px;
    background-color:  #8EDAFC;
    display: flex;
    align-items: center;
    padding: 10px;
}
.icon_notification{
    width: 57px;
    height: 57px;
    border-radius: 37px;
    background-color: white;
    color: #8EDAFC;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}
.text_notification {
    margin-left: 12px;
}
.text_notification > a {
    font-size: 10px;
    color: gray;
}
.search {
    width: 100%;
    height: 48px;
    background-color: #E9EBEB;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search > div {
    width: 40px;
    height: 80%;
    background-color: white;
    color: #969c9c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search > input {
    width: 80%;
    height: 80%;
    border: none;
}
.group_chat {
    width: 100%;
    height: calc(100% - 48px - 75px - 68px);
}
.user_chat {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.info_user {
    display: flex;
}
.info_user > div {
    margin-left: 10px;
}
.info_user > div > span {
    font-size: 13px;
    color: gray;
}
.info_user > img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.hour > p {
    font-size: 13px;
    color: gray;
}
.profile_user {
    width: 300px;
    display: flex;
    align-items: center;
}
.profile_user > img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.name_user {
    margin-left: 10px;
}
.name_user > span {
    font-size: 13px;
    color: gray;
}
.icon_chat {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.icon_chat > i {
    margin: 0 9px;
    font-size: 20px;
    color: #a7a7a6;
}
.chat_messages{
    width: 100%;
    height: calc(100% - 68px - 75px);
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}
.block_sent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px;
}
.block_sent > div {
    max-width: 400px;
    max-height: 200px;
    background-color: #D5F9BA;
    border-radius: 10px;
    padding: 17px;
    margin-right: 40px;

}
.block_received {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
}
.block_received > div {
    max-width: 400px;
    max-height: 200px;
    background-color: white;
    border-radius: 10px;
    padding: 17px;
    margin-left: 40px;
}
.footer_chat{
    width: 100%;
    height: 75px;
    background-color: #E9EBEB;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon_smile{
    width: 80px;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin: auto;
}
.footer_chat > div > input {
    width: 800px;
    height: 50px;
    border: none;
    border-radius: 6px;
    padding: 7px;
}
